# Packages

In [2]:
import pandas as pd
import requests
import json

## Google API

In [3]:
reps = requests.get('https://www.googleapis.com/civicinfo/v2/representatives?key=AIzaSyAEDMe9X4hv9FNSqjYEBaCnPCguHK44rfY&address=95064').json()
dataParty = pd.DataFrame(reps['officials'])

In [4]:
dataParty.head()

,name,address,party,phones,urls,photoUrl,channels,emails
0,Donald J. Trump,[{'line1': '1600 Pennsylvania Avenue Northwest...,Republican Party,[(202) 456-1111],[http://www.whitehouse.gov/],https://www.whitehouse.gov/sites/whitehouse.go...,"[{'type': 'Facebook', 'id': 'DonaldTrump'}, {'...",NaN
1,Mike Pence,[{'line1': '1600 Pennsylvania Avenue Northwest...,Republican Party,[(202) 456-1111],[http://www.whitehouse.gov/],https://www.whitehouse.gov/sites/whitehouse.go...,"[{'type': 'Facebook', 'id': 'mikepence'}, {'ty...",NaN
2,Dianne Feinstein,"[{'line1': '331 Hart Senate Office Building', ...",Democratic Party,[(202) 224-3841],[http://www.feinstein.senate.gov/public/],NaN,"[{'type': 'Facebook', 'id': 'SenatorFeinstein'...",NaN
3,Kamala D. Harris,"[{'line1': '112 Hart Senate Office Building', ...",Democratic Party,[(202) 224-3553],[https://www.harris.senate.gov],NaN,"[{'type': 'Facebook', 'id': 'KamalaHarris'}, {...",NaN
4,Gavin Newsom,"[{'line1': '1303 10th Street', 'city': 'Sacram...",Democratic Party,[(916) 445-2841],[https://www.gov.ca.gov/],NaN,"[{'type': 'Facebook', 'id': 'CAgovernor'}, {'t...",NaN

## How many Parties

In [5]:
dataParty['party'].unique()

array(['Republican Party', 'Democratic Party', 'Nonpartisan',
       '(831) 466-5600'], dtype=object)

## How many Candidates

In [6]:
name = list(dataParty['name'].unique())
print(name)

['Donald J. Trump', 'Mike Pence', 'Dianne Feinstein', 'Kamala D. Harris', 'Gavin Newsom', 'Eleni Kounalakis', 'Fiona Ma', 'Xavier Becerra', 'Betty T. Yee', 'Ricardo Lara', 'Alex Padilla', 'Leondra R. Kruger', 'Ming W. Chin', 'Mariano-Florentino Cu√©llar', 'Goodwin H. Liu', 'Tani G. Cantil-Sakauye', 'Joshua P. Groban', 'Carol A. Corrigan', 'Tony Thurmond', 'Jeffery S Rosell', 'Gail Pellerin', 'Jim Hart', 'Faris Sabbah', 'Sean Saldavia', 'Edith Driscoll']

In [7]:
dataCanPar = dataParty[["name","party"]]
dataCanPar.head()

               name             party
0   Donald J. Trump  Republican Party
1        Mike Pence  Republican Party
2  Dianne Feinstein  Democratic Party
3  Kamala D. Harris  Democratic Party
4      Gavin Newsom  Democratic Party

## Maplight API Data

In [24]:
# Pass names from Google Civic API to MAPlight API url and extract $contribution amount for matched names in 2020

# Maplight API Data = pd.DataFrame(columns=['CandidateFECID', 'CandidateMaplightID', 'CandidateName', 'DonorName',
#        'DonorOrganization', 'ElectionCycle', 'TransactionAmount',
#        'TransactionDate'])

def MapAPI(name):
    Data = pd.DataFrame()
    for i in range(0,len(name)):
        link = "https://api.maplight.org/maplight-api/fec/contributions?candidate_name=" +str(name[i].split()[0]) + "%20" + str(name[i].split()[-1])
        data = requests.get(link).json()
        temp = pd.DataFrame(data['data']['rows'])
        if len(temp) !=0:
            Data = pd.concat([Data,temp])
    
    Data = Data.reset_index(drop=True)
    return Data

In [10]:
Data = MapAPI(name)
Data.head()

,ElectionCycle,TransactionDate,TransactionAmount,DonorName,DonorOrganization,CandidateName,CandidateMaplightID,CandidateFECID
0,2020,2020-02-29,60.0,"Moreno, Wendy",Retired,Donald Trump,9528,P80001571
1,2020,2020-02-29,25.0,"Booth-moran, Julie",Century Pharmacy,Donald Trump,9528,P80001571
2,2020,2020-02-29,100.0,"Bonn, Barton",Self-Employed,Donald Trump,9528,P80001571
3,2020,2020-02-29,500.0,"Maiwand, Safa",Smiles For Kids,Donald Trump,9528,P80001571
4,2020,2020-02-29,250.0,"Bjornsson, Emil",Entrepreneur,Donald Trump,9528,P80001571

### Joining Candidate name, party name (from Google representative API) and $ContributionAmount (from Maplight API)

In [11]:
def JoinCanPar(Data):
    party = []
    for i in range(0,len(list(Data['CandidateName']))):
    #     print(list(Data['CandidateName'].unique())[i])
        if list(Data['CandidateName'])[i] == 'Donald Trump':
            party.append('Republican')

        elif list(Data['CandidateName'])[i] == 'Mike Pence':
            party.append('Republican')

        elif list(Data['CandidateName'])[i] == 'Dianne Feinstein':
            party.append('Democrat')

        elif list(Data['CandidateName'])[i] == 'Xavier Becerra':
            party.append('Democrat')

        else :
            party.append('NonPartison')

    Data['party'] = party
    Data = Data.reset_index(drop=True)
    return Data

In [12]:
Data = JoinCanPar(Data)
Data

,ElectionCycle,TransactionDate,TransactionAmount,DonorName,DonorOrganization,CandidateName,CandidateMaplightID,CandidateFECID,party
0,2020,2020-02-29,60.0,"Moreno, Wendy",Retired,Donald Trump,9528,P80001571,Republican
1,2020,2020-02-29,25.0,"Booth-moran, Julie",Century Pharmacy,Donald Trump,9528,P80001571,Republican
2,2020,2020-02-29,100.0,"Bonn, Barton",Self-Employed,Donald Trump,9528,P80001571,Republican
3,2020,2020-02-29,500.0,"Maiwand, Safa",Smiles For Kids,Donald Trump,9528,P80001571,Republican
4,2020,2020-02-29,250.0,"Bjornsson, Emil",Entrepreneur,Donald Trump,9528,P80001571,Republican
...,...,...,...,...,...,...,...,...,...
195,2016,2016-10-24,2700.0,Agua Caliente Band Of Cahuilla Indians,Agua Caliente Band of Cahuilla Indians,Xavier Becerra,4139,H2CA30143,Democrat
196,2016,2016-10-24,2700.0,Table Mountain Rancheria,Table Mountain Rancheria,Xavier Becerra,4139,H2CA30143,Democrat
197,2016,2016-10-24,250.0,"Luvaas, Jon",Self-Employed,Xavier Becerra,4139,H2CA30143,Democrat
198,2016,2016-10-23,2000.0,ZENECA INC. POLITICAL ACTION COMMITTEE,AstraZeneca Pharmaceuticals,Xavier Becerra,4139,H2CA30143,Democrat
199,2016,2016-10-21,1000.0,THE VANGUARD GROUP COMMITTEE FOR RESPONSIBLE G...,Vanguard Group,Xavier Becerra,4139,H2CA30143,Democrat

## Aggregation

In [21]:
# Data has some negative $ contribution values which means data is corrupt. 
# Below-mentioned queryData function shows this in the Min_$ContributionAmount column.


def queryData(df):
    data = []
    df['TransactionAmount'] = df['TransactionAmount']
    candidateNameList = list(df['party'].unique())
    for i in range(0,len(candidateNameList)):
        candidateData = df[df['party']==candidateNameList[i]]
        minTrans = candidateData['TransactionAmount'].min()
        maxTrans = candidateData['TransactionAmount'].max()
        meanTrans = candidateData['TransactionAmount'].mean()
        total = candidateData['TransactionAmount'].sum()
        data.append([candidateNameList[i],minTrans,maxTrans,meanTrans,total])
        outputDataFrame = pd.DataFrame(data,columns = ['Party_Name','Min_$ContributionAmount','Max_$ContributionAmount','Average_$ContributionAmount','Total_$ContributionAmount'])
    return outputDataFrame

# Updated TransactionsAmount using abs() function to convert -ve $contributionAmount to +ve $contributionAmount.

def updatedQueryData(df):
    data = []
    df['TransactionAmount'] = abs(df['TransactionAmount'])
    candidateNameList = list(df['party'].unique())
    for i in range(0,len(candidateNameList)):
        candidateData = df[df['party']==candidateNameList[i]]
        minTrans = candidateData['TransactionAmount'].min()
        maxTrans = candidateData['TransactionAmount'].max()
        meanTrans = candidateData['TransactionAmount'].mean()
        total = candidateData['TransactionAmount'].sum()
        data.append([candidateNameList[i],minTrans,maxTrans,meanTrans,total])
        outputDataFrame = pd.DataFrame(data,columns = ['Party_Name','Min_$ContributionAmount','Max_$ContributionAmount','Average_$ContributionAmount','Total_$ContributionAmount'])
    return outputDataFrame

In [22]:
queryData(Data)

,Party_Name,Min_$ContributionAmount,Max_$ContributionAmount,Average_$ContributionAmount,Total_$ContributionAmount
0,Republican,-5000.0,8235.0,474.2900,47429.00
1,Democrat,-2300.0,5000.0,691.8674,69186.74

In [23]:
updatedQueryData(Data)

,Party_Name,Min_$ContributionAmount,Max_$ContributionAmount,Average_$ContributionAmount,Total_$ContributionAmount
0,Republican,1.0,8235.0,985.2900,98529.00
1,Democrat,1.0,5000.0,822.8674,82286.74